* {
    padding: 0px;
    margin: 0px;
}



body{
    
    background-image: url(../img/img-binary.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Saira Condensed', sans-serif;
    color: rgb(255, 255, 255);

}

.container{
    padding: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(0,0,0,0.8995973389355743) 37%, rgba(10,9,9,0.9108018207282913) 83%, rgba(0,0,0,0.9192051820728291) 114%);

}
.perfil{
    position: relative;
    /* margin: 10px 10px 0px 10px; */
    /* background-color: rgb(60, 163, 163); */
    text-align: center;
}



.perfil img{
    width: 100px;
    border-radius: 100%;
    box-shadow:0px 0px 10px 1px rgb(29, 75, 40);


}

.perfil h1{
    letter-spacing: -1px;
    font: 200;
    font-size: 35px;
    margin-top: 3px;
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Saira Condensed', sans-serif;
    color: aliceblue;
}



.dev{
    width: 100%;
    text-align: center;
    letter-spacing: 3px;


}
.dev h2{
    margin: 0px;
    font-family: 'Aclonica', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Smooch', cursive;
    font-size: 25px;
}

.contatos {
    width: 80px;
    margin: 40px auto 10px;
    text-align: center;
    border-bottom: 1px solid rgb(15, 109, 10);
    
}

.links {
    font: 900;
    margin-top: 0px;
    text-align: center;
    list-style: none;
}

.links li {
    background-color: black;
    display: block;
    box-shadow:0px 5px 5px 5px rgb(3, 38, 12);
    margin: 30px;
    border-radius: 10px;
    padding: 10px;


}



.links li a{
    
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links li a span {
    display: block;
    text-align: center;
}
.roda-pe{
    position: relative;
    background-color: black;
    text-align: center;
    color:rgb(175, 175, 175)
}