* {
    padding: 0px;
    margin: 0px;
}

 html, body {
     /* position: relative; */
    width: 100%;
    height: 100%;
    /* background: rgb(1,255,247);
    background: linear-gradient(187deg, rgba(172, 238, 236, 0.463) 0%, rgba(56,128,114,1) 64%, rgba(24,26,47,1) 100%);  */
 }

body{
    
    /* position: relative; */
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgb(28, 131, 112);

}




.perfil{
    position: relative;
    margin: 10px;
    /* background-color: rgb(60, 163, 163); */
    text-align: center;
}



.perfil img{
    width: 100px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);


}

.perfil h1{
    letter-spacing: -1px;
    font: 900;
    font-size: 30px;
    margin-top: 3px;
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Saira Condensed', sans-serif;
}

.perfil h1 span {
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Pushster', cursive;
    font-family: 'Quattrocento', serif;
    font-family: 'Smooch', cursive;
    display: block;
    margin-top: -10px;
    color: cornsilk;
}

.contatos {
    text-align: center;
    
}

.links {

    text-align: center;
    list-style: none;
}

.links li {
    display: block;
    box-shadow:0px 0px 10px 10px rgb(23, 8, 38) ;
    margin: 30px;
    border-radius: 10px;
    padding: 10px;


}



.links li a{
    
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.links li a span {
    display: block;
}